[core]
  pager = less
  autocrlf = input
[alias]
  cm = commit
  co = checkout
  br = branch
  st = status
  tg = "!sh -c 'TAG_V=$1; git tag $TAG_V; git push origin $TAG_V' -"
[push]
  default = current
[user]
  name = Yuta Toyokawa
  email = kppg42@gmail.com
[commit]
  template = ~/dotfiles/.commit_template
