[user]
  name = Yuta Toyokawa
  email = kppg42@gmail.com
[alias]
  # いい感じのグラフでログを表示
  gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
  st = status
  cm = commit
  br = branch
  co = checkout
  # Untracked filesを表示せず，not stagedと，stagedだけの状態を出力する
  stt = status -uno
  # 行ごとの差分じゃなくて，単語レベルでの差分を色付きで表示する
  difff = diff --word-diff
  br-da = "!f() { git branch --merged | egrep -v '\\*|develop|master|staging' | xargs git branch -d; };f"
[core]
  editor = vim
[push]
  default = current
